<div class="main">
  <section class="hero">
    <h1 class="hero-headline">
      Achieve Your Dream Figure with Quick and Effective Workouts.
    </h1>
    <p class="hero-details">Take this 30-second quiz<br />to find out how</p>
  </section>
  <section class="btn-group">
    <app-button btnText=" Women Start Here" gender="female" route="/survey/female" />
    <app-button btnText=" Men Start here" gender="male" route="/survey/male" />
  </section>
</div>

<section class="partners">
  <img src="../../../assets/img/women'sHealth.png" alt="Women's Health Logo" />
  <img src="../../../assets/img/forbes.png" alt="Forbes Logo" />
  <img src="../../../assets/img/vogue.png" alt="Vogue Logo" />
  <img
    src="../../../assets/img/theWallStreetJournal.png"
    alt="The Wall Street Journal Logo"
  />
  <img src="../../../assets/img/mayoClinic.png" alt="MAYO Clinic" />
</section>
