$colorPrimary: #e9639f;
$colorSecondary: #409cd1;
$colorGrey: #575757;
$colorGreyShade: #D9D9D9;
$colorBorder: #A6A6A6;


$backgroundGradiant: linear-gradient(90deg, #e9639f 0%, #8143e2 100%);
