$mobile: 390px;
$pc: 768px;
$large: 1920px;

@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin pc {
  @media (min-width: $pc) {
    @content;
  }
}

@mixin large {
  @media (min-width: $large) {
    @content;
  }
}
