@use "./scss/base/" as *;
@use "./scss/abstract/" as *;

html,
body {
  font-size: $baseSize;
}

body {
  background: url("./assets/img/bg-sm.png") no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "Jost", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0px;
}

// ::-webkit-scrollbar-track {

// }

// ::-webkit-scrollbar-thumb {
// }

// ::-webkit-scrollbar-thumb:hover {
// }

@include pc {
  body {
    background: url("./assets/img/bg-lg.png") no-repeat;
    background-position: center center;
    background-size: cover;
    image-rendering: auto;
  }
}
