<footer>
  <div class="container">
    <div class="copy-rights">
      <h1 class="rights">&copy; 2024 Cool Company, All Rights Reserved</h1>
      <ul class="link-group">
        <li class="link"><a href="#">Privacy Policy</a></li>
        <li class="link"><a href="#">Terms of Service</a></li>
        <li class="link"><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <p class="details">
      Content, images, and assets on this site may not be reproduced,
      transmitted, cached, distributed, or used in any way without prior written
      consent. This site does not offer professional medical advice or services.
      The ideas, procedures, and suggestions provided here are not a substitute
      for consulting your physician and should be used only as part of planning
      your overall health and fitness plan with medical supervision. Our Terms
      of Service limit liability, and you must read and agree to them before
      using this site. This information is not intended to diagnose, treat,
      cure, or prevent any disease. Your results may differ from any claims or
      testimonials. Typical results are not guaranteed; most people do not
      achieve results because they do not take consistent action. The examples
      shown are of individuals who made lifestyle changes and are not typical.
      Achieving results requires commitment and adherence to a plan
    </p>
  </div>
</footer>
